* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    body{
        background-image: linear-gradient(rgb(221, 86, 86),rgb(41, 29, 59));
    }

h1{    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
   

   
}

header{
    padding-top: 5%; 
    padding-bottom: 2%;
    border-bottom: dotted whitesmoke;
    font-size: x-large;
    text-shadow: 3px 3px 1px rgb(41, 29, 59);

}
article{
    padding: 1.3%;
    text-align: center;
    color: whitesmoke;
    font-size: large;
    background-color: rgb(41, 29, 59) ;

}
.album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 2vw;
}

.foto-album img {
width: 100%;
height: 100%;
object-fit: cover;
}

.foto-album{
    width: 250px;
    height: 480px;
    border: 10px solid whitesmoke;
    box-shadow: 3px 3px 1px rgb(56, 49, 49);
    flex-grow: 1;
    transition: transform .4s;
    filter:sepia(70%)  blur(1.5px) brightness(0.5);
    border-radius: 10px;
}

.foto-album:hover{
    transform: scale(1.3);
    filter: contrast(100%);
    
}
footer{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgb(221, 86, 86);
}